bin/
lib/
build/
dist/
*.eggs
*.egg-info
*.py[cod]
.idea/
.vscode
.cache
.coverage
cookie.pickle
demo_course
moodle_files
tags
include
share/
pip-selfcheck.json
Moodle_Cli.egg-info

# Python virtual env
bin
build
include
lib
share





